:root {
	--heder-logo-color: #2196f3;
	--heder-logo-color-sub: #000000;
	--nav-link-hover-focus: #2196f3;
	--heder-mail-tel: #757575;
	--heder-mail-tel-hover-focus: #2196f3;
	--main-background-color: #2f303a;
	--main-title: #ffffff;
	--main-text-btn-color: #ffffff;
	--main-btn-background-color: #2196f3;
	--main-btn-background-color-hover-focus: #188ce8;
	--secondary-text-color: #757575;
	--footer-background-color: #2f303a;
	--footer-logo: #2196f3;
	--footer-logo-part: #ffffff;
	--footer-map-link: #ffffff;
	--footer-mail-tel-link: rgba(255, 255, 255, 0.6);
	--footer-mail-map-tel-link-focus-hover: #2196f3;
	--portfolio-btn-color: #212121;
	--portfolio-btn-background: #f5f4fa;
	--portfolio-btn-color-hover-focus: #ffffff;
	--portfolio-btn-background-hover-focus: #2196f3;
	--portfolio-text: #757575;
	--heder-inx: 10;
	--modal-inx: 100;
	--menu-inx: 1000;
}

body {
	font-family: "Roboto", sans-serif;
	color: #212121;
	background-color: #ffffff;
}
.conteiner {
	width: 1200px;
	padding-left: 15px;
	padding-right: 15px;
	margin-left: auto;
	margin-right: auto;
	/* outline: 2px solid rgb(153, 51, 51); */
}
.section {
	padding-top: 94px;
	padding-bottom: 94px;
}
/* reset start */
h1,
h2,
h3,
h4,
h5,
h6,
ul,
p {
	margin: 0;
}
.list {
	list-style: none;
	margin: 0;
	padding: 0;
}
.link {
	text-decoration: none;
	color: currentColor;
}
img {
	display: block;
	max-width: 100%;
	height: auto;
}

/*  =========================HEDER=========================  */
.heder {
	border: 1px solid #ececec;
}
.heder-conteiner {
	display: flex;
	align-items: center;
}
.heder-logo {
	font-family: "Raleway", sans-serif;
	font-weight: 700;
	font-size: 26px;
	line-height: calc(31 / 26);
	letter-spacing: 0.03em;
	color: var(--heder-logo-color);
	margin-right: 93px;
}
.heder-logo-part {
	color: var(--heder-logo-color-sub);
}

.nav-link {
	display: block;
	font-weight: 500;
	font-size: 14px;
	line-height: calc(16 / 14);
	letter-spacing: 0.02em;
	color: #212121;
	padding-top: 32px;
	padding-bottom: 32px;
	position: relative;
}
.nav-link::after {
	position: absolute;

	bottom: -1px;
	transform: scalex(0.1);
	display: block;
	content: "";
	width: 108%;
	height: 4px;
	background: #2196f3;
	border-radius: 2px;
	opacity: 0;
	transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.nav-link:hover::after,
.nav-link:focus:after {
	transform: scalex(1);
	opacity: 1;
}
.nav-link {
	transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-link:hover,
.nav-link:focus {
	color: var(--nav-link-hover-focus);
}
.hedern-nav-list {
	display: flex;
	gap: 50px;
}
.heder-list {
	display: flex;
	margin-left: auto;
	gap: 50px;
}
.heder-mail-link {
	font-weight: 500;
	font-size: 14px;
	line-height: calc(16 / 14);
	letter-spacing: 0.02em;
	color: var(--heder-mail-tel);
	display: flex;
	align-items: center;
	gap: 10px;
	transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.heder-mail-icon {
	fill: currentColor;
}

.heder-tel-link {
	font-weight: 500;
	font-size: 14px;
	line-height: calc(16 / 14);
	letter-spacing: 0.02em;
	display: flex;
	align-items: center;
	gap: 10px;
	color: var(--heder-mail-tel);
	transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.heder-tel-icon {
	fill: currentColor;
}
.heder-tel-link:hover,
.heder-tel-link:focus,
.heder-mail-link:hover,
.heder-mail-link:focus {
	color: var(--heder-mail-tel-hover-focus);
}
/*  =========================HEDER=========================  */

/*  =========================MAIN=========================  */
.main {
	max-width: 1600px;
	margin: 0px auto;
	background-color: var(--main-background-color);
	padding-top: 200px;
	padding-bottom: 200px;
	background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/main.jpg);
	background-repeat: no-repeat;
	background-position: center;
}

.main-title {
	font-family: "Roboto";
	font-weight: 900;
	font-size: 44px;
	line-height: calc(60 / 44);
	text-align: center;
	letter-spacing: 0.06em;
	text-transform: uppercase;
	color: var(--main-title);
	margin-bottom: 30px;
	width: 696px;
	margin-left: auto;
	margin-right: auto;
}
.main-btn {
	display: block;
	font-family: inherit;
	font-weight: 700;
	font-size: 16px;
	line-height: calc(30 / 16);
	color: var(--main-text-btn-color);
	cursor: pointer;
	background-color: var(--main-btn-background-color);
	border-radius: 4px;
	border-color: transparent;
	padding: 10px 32px;
	min-width: 216px;
	min-height: 50px;
	margin-left: auto;
	margin-right: auto;
	transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.main-btn:hover,
.main-btn:focus {
	background-color: var(--main-btn-background-color-hover-focus);
}
.heder-btn{
	animation: heartbeat 5s ease-in-out infinite both;
}
/* secondary */

.secondary-list {
	display: flex;
}
.secondary-block {
	display: flex;
	align-items: center;
	background-color: #f5f4fa;
	border-radius: 4px;
	padding: 25px 100px;
	margin-bottom: 30px;
}
.secondary-list-item {
	flex-basis: calc((100%-30px * 3) / 4);
}
.secondary-list-item:not(:last-child) {
	margin-right: 30px;
}

.secondary-sub-title {
	font-weight: 700;
	font-size: 14px;
	line-height: calc(16 / 14);
	letter-spacing: 0.03em;
	text-transform: uppercase;
	margin-bottom: 10px;
}
.secondary-text {
	font-weight: 400;
	font-size: 14px;
	line-height: calc(24 / 14);
	letter-spacing: 0.03em;
	color: var(--secondary-text-color);
}
/*  about  */

.about-list {
	display: flex;
	gap: 30px;
}
.about-title {
	font-weight: 700;
	font-size: 36px;
	line-height: calc(42 / 36);
	letter-spacing: 0.03em;
	text-align: center;
	margin-bottom: 50px;
}

.about-list-item {
	position: relative;
	margin-bottom: 94px;
}
.overlay {
	position: absolute;
	bottom: 0;
	width: 100%;
	padding-top: 27px;
	padding-bottom: 27px;
	background-color: rgba(47, 48, 58, 0.8);
}
.overlay-text {
	text-align: center;
	font-weight: 700;
	font-size: 14px;
	line-height: calc(16 / 14);
	letter-spacing: 0.03em;
	text-transform: uppercase;
	color: #ffffff;
}
/* comanda */
.comanda {
	background-color: #f5f4fa;
}
.comanda-list {
	display: flex;
	flex-wrap: wrap;
	gap: 30px;
}
.comanda-title {
	font-weight: 700;
	font-size: 36px;
	line-height: calc(42 / 36);
	letter-spacing: 0.03em;
	text-align: center;
	margin-bottom: 50px;
}
.comanda-item-list {
	background-color: #ffffff;
	flex-basis: calc((100% - 30px * 3) / 4);
	box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
}
.comanda-sub-title {
	font-weight: 500;
	font-size: 16px;
	line-height: calc(19 / 16);
	letter-spacing: 0.03em;
	color: var(--secondary-sub-title-color);
	text-align: center;
	margin-top: 30px;
	margin-bottom: 10px;
}
.comanda-text {
	font-weight: 400;
	font-size: 16px;
	line-height: calc(19 / 16);
	letter-spacing: 0.03em;
	color: var(--secondary-text-color);
	text-align: center;
	padding-bottom: 16px;
}
.social-list {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 10px;
	margin-bottom: 30px;
}
.social-link {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 44px;
	height: 44px;
	border-radius: 50%;
	background-color: #ffffff;
	fill: #afb1b8;
	transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social-link:hover,
.social-link:focus {
	background: #2196f3;
	fill: #ffffff;
}
/* client */
.client-title {
	font-weight: 700;
	font-size: 36px;
	line-height: calc(42 / 36);
	letter-spacing: 0.03em;
	text-align: center;
	margin-bottom: 50px;
}
.client-list {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 30px;
}
.client-link {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 170px;
	height: 92px;
	border: 1px solid #afb1b8;
	border-radius: 4px;
	background-color: #ffffff;
	fill: #afb1b8;
	transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.client-link:hover,
.client-link:focus {
	fill: #2196f3;
	border-color: #2196f3;
}

/*  =========================MAIN=========================  */
/*  =========================FOOTER=========================  */
.address {
	font-style: normal;
}

.footer {
	background-color: var(--footer-background-color);
	padding-top: 60px;
	padding-bottom: 60px;
}
.footer-logo {
	display: inline-block;
	font-family: "Raleway", sans-serif;
	font-weight: 700;
	font-size: 26px;
	line-height: calc(31 / 26);
	letter-spacing: 0.03em;
	color: var(--footer-logo);
	margin-bottom: 20px;
}

.footer-logo-part {
	color: var(--footer-logo-part);
	margin-bottom: 20px;
	display: inline-block;
}
.footer-map-item {
	margin-bottom: 9px;
}
.footer-mail-item {
	margin-bottom: 9px;
}

.footer-map-link {
	font-weight: 400;
	font-size: 14px;
	line-height: calc(24 / 14);
	letter-spacing: 0.03em;
	color: var(--footer-map-link);
	transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-mail-link {
	font-weight: 400;
	font-size: 14px;
	line-height: calc(24 / 14);
	letter-spacing: 0.03em;
	color: var(--footer-mail-tel-link);
	transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-tel-link {
	font-weight: 400;
	font-size: 14px;
	line-height: calc(24 / 14);
	letter-spacing: 0.03em;
	color: var(--footer-mail-tel-link);
	transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-map-link:hover,
.footer-map-link:focus,
.footer-tel-link:hover,
.footer-tel-link:focus,
.footer-mail-link:hover,
.footer-mail-link:focus {
	color: var(--footer-mail-map-tel-link-focus-hover);
}
.footer-flex {
	display: flex;
	align-items: baseline;
	gap: 70px;
}
.footer-title {
	font-weight: 700;
	font-size: 14px;
	line-height: calc(16 / 14);
	letter-spacing: 0.03em;
	text-transform: uppercase;
	color: #ffffff;
	margin-bottom: 20px;
}
.footer-list {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 10px;
	margin-bottom: 30px;
}
.footer-link {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 44px;
	height: 44px;
	border-radius: 50%;
	background-color: rgba(255, 255, 255, 0.1);
	fill: #ffffff;
	transition: background 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-link:hover,
.footer-link:focus {
	background: #2196f3;
}
/*  =========================FOOTER=========================  */
/*  =========================MAIN PORTFOLIO=========================  */
.main-list-btn {
	display: flex;
	gap: 8px;
	justify-content: center;
	margin-bottom: 50px;
}
.portfolio-list {
	display: flex;
	flex-wrap: wrap;
	gap: 30px;
}

.portfolio-btn {
	display: block;
	cursor: pointer;
	font-family: inherit;
	background: var(--portfolio-btn-background);
	border-radius: 4px;
	border-color: transparent;
	font-weight: 500;
	font-size: 16px;
	line-height: calc(26 / 16);
	text-align: center;
	letter-spacing: 0.03em;
	color: var(--portfolio-btn-color);
	padding: 6px 22px;
	transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1),
		box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-btn:hover,
.portfolio-btn:focus {
	background-color: var(--portfolio-btn-background-hover-focus);
	color: var(--portfolio-btn-color-hover-focus);
	box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}
.portfolio-item-list {
	flex-basis: calc((100% - 30px * 2) / 3);

	transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-thumb {
	position: relative;
	overflow: hidden;
}
.portfolio-overlay {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(33, 150, 243, 0.9);
	padding: 63px 24px;
	user-select: none;
	transform: translateY(100%);
	transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-item-list:hover .portfolio-overlay,
.portfolio-item-list:focus .portfolio-overlay {
	transform: translateY(0);
}
.portfolio-overlay-text {
	font-weight: 400;
	font-size: 18px;
	line-height: calc(28 / 18);
	letter-spacing: 0.03em;
	color: #ffffff;
}
.portfolio-item-list:hover,
.portfolio-item-list:focus {
	box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.portfolio-title {
	font-weight: 700;
	font-size: 18px;
	line-height: calc(36 / 18);
	letter-spacing: 0.06em;
	color: var(--portfolio-title);
	margin-bottom: 4px;
}
.portfolio-text {
	font-size: 16px;
	line-height: calc(30 / 16);
	letter-spacing: 0.03em;
	color: var(--portfolio-text);
}

.sub-border {
	padding: 20px 24px;
	border: 1px solid #eeeeee;
	border-top: none;
}
.backdrop {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.2);
	transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
	display: flex;
	justify-content: center;
	align-items: center;
}
.backdrop.is-hidden {
	opacity: 0;
	visibility: hidden;
	pointer-events: none;
}
.modal {
	position: absolute;
	width: 528px;
	min-height: 581px;
	background: #ffffff;
	box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
	border-radius: 4px;
}
.modal.animation {
	animation: rotate-scale-down 650ms linear both;
}
.modal-btn {
	position: absolute;
	top: 8px;
	right: 8px;
	width: 30px;
	height: 30px;
	padding: 0;
	border-radius: 50%;
	background: #ffffff;
	border: 1px solid rgba(0, 0, 0, 0.1);
	display: inline-flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;
}
@keyframes rotate-scale-down {
	0% {
		transform: scale(1) rotateZ(0);
	}
	50% {
		transform: scale(0.5) rotateZ(180deg);
	}
	100% {
		transform: scale(1) rotateZ(360deg);
	}
}
@keyframes heartbeat {
  from {
    transform: scale(1);
    transform-origin: center center;
    animation-timing-function: ease-out;
  }
  7% {
    transform: scale(0.91);
    animation-timing-function: ease-in;
  }
  20% {
    transform: scale(0.98);
    animation-timing-function: ease-out;
  }
  30% {
    transform: scale(0.87);
    animation-timing-function: ease-in;
  }
  43% {
    transform: scale(1);
    animation-timing-function: ease-out;
  }
}